// main: ./main.scss

@mixin mq($size) {
  @media only screen and (min-width: $size) {
    @content; /* lets us pass content block into mixin */
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 90%;
  line-height: 1.42857143;
  color: #333;

  @include mq(480px) {
    font-size: 100%;
  }
}

h1,
h2 {
  font-family: 'Quintessential', cursive;
  text-shadow: 1px 1px 2px gray;
}

h1 {
  margin-top: 0;
  margin-bottom: auto;
  font-size: 3.125rem;

  @include mq(480px) {
    font-size: 5rem;
  }
}

h2 {
  margin-bottom: 0.25rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #337ab7;
  text-decoration: none;
  font-weight: 700;
}

a:hover,
a:focus {
  color: #b45922;
  text-decoration: underline;
}

.center-text {
  text-align: center;
}

.articlecontainer {
  background-color: #ffffe6;
  padding: 0.6em;
  border-bottom: 2px solid #e3e3e3;
}
