// main: ./main.scss

.carousel {
  position: relative;
  width: 75%;
  margin: auto;
  background-color: #fff;
  border: thin solid #ddd;
  border-radius: 4px;
  padding: 1.5rem 0;
}

.img {
  max-width: 100%;
  margin: auto;
  display: block;
}

.animateImg {
  animation: fadeInImage 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes fadeInImage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.img-caption {
  padding: 0.75rem 0.25rem 0;
  font-size: 0.625rem;

  @include mq(480px) {
    font-size: 0.9rem;
  }
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
}

.slide-btn {
  width: 30px;
  height: 30px;
  border: unset;
  border-radius: 100%;

  cursor: pointer;
  box-shadow: 2px 2px 4px black;
  background-color: #7bb2f6;
  text-align: center;
  text-decoration: none;
  padding: 0; /* fixes iOS alignment issue */

  font-weight: 700;
  font-family: inherit;
  color: white;

  @include mq(480px) {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
  }
}

.slide-btn:hover,
.slide-btn:focus {
  background-color: gray;
  outline-style: none;
}

.slide-btn:active {
  transform: scale(0.9);
}

.prev-slide {
  margin-left: 2%;

  @include mq(480px) {
    margin-left: 3%;
  }

  @include mq(768px) {
    margin-left: 4%;
  }
}

.next-slide {
  margin-right: 2%;

  @include mq(480px) {
    margin-right: 3%;
  }

  @include mq(768px) {
    margin-right: 4%;
  }
}
