// main: ./main.scss

.img-container {
  width: 75%;
  margin: auto;
  background-color: #fff;
  border: thin solid #ddd;
  border-radius: 4px;
  padding: 1.5rem;
}

.img {
  max-width: 100%;
  margin: auto;
  display: block;

}

.animateImg {
          -webkit-animation: fadeInImage 0.5s;
                  animation: fadeInImage 0.5s;
}

.img-caption {
  padding-top: 0.75rem;
  font-size: 0.625rem;

  @include mq(480px) {
    font-size: 0.9rem;
  }
}

@-webkit-keyframes fadeInImage {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInImage {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
